/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.banner{
background-image: url("../images/background.png");
background-size: cover;
height: 500px;
display:flex;
align-items: center;
}

.banner-container > h1 {
  color:white;
}


.banner-container > p {
  color: grey;
  margin-bottom: 30px;
  font-size: 20px;
}

.banner-container > a {
  background-color: #66ff66;
  border-radius: 30px;
  color: white;
  padding: 15px 30px;

}

.container{
  text-align: center;
  }

.cards{
  display: flex;
  justify-content: space-around;

}

.card{
width: 250px;
border-radius:5px;
box-shadow: 0 0 20px rgba(0,0,0,0.1)

}

.card > h3, p {
color: black;
}

.footer{
  background-color: black;
  height: 200px;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
}

a > i {
  font-size: 30px;
  margin-left: 10px;
  color: green;
}

.footer > p {
  color: white;
  text-align: center;
}
